.header {
    padding: 28px 0 42px;
    margin: 0 auto;
    min-height: 55px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);;

}

@media (min-width: 1280px) {
    .header {
        padding-top: 45px;
        padding-bottom: 40px;
    }

}