.profile__addbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 282px;
    min-height: 50px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    color: inherit;
    transition: opacity 0.5s linear;

}
.profile__addbutton:hover{
    opacity: 0.6;
}

@media (min-width: 650px) {
    .profile__addbutton {
        width: 150px;
        margin: 0;
        display: flex;

    }
}