
.profile__addbutton-picture {
    max-width: 16px;
    margin: 0 auto;
    padding: 0;

}

@media (min-width: 720px) {
    .profile__addbutton-picture {
        min-width: 22px;
        margin-right: 0;
        margin-left: 0;
    }

}