.profile__button {
    display: flex;
    align-self: end;
    text-decoration: none;
    color: inherit;
    transition: opacity 0.5s linear;
    max-width: 18px;
    margin: 8px 0 0 10px;
    padding: 0;
    cursor: pointer;
}

.profile__button:hover {
    opacity: 0.6;
}

@media (min-width: 880px) {
    .profile__button {
        margin-left: 18px;
        min-width: 24px;
        margin-top: 15px;
    }

}
